# Server Configuration
PORT=3003
LOG_LEVEL=info
NODE_ENV=development

# dGraph Configuration
DGRAPH_HOST=localhost:9080
DGRAPH_USER=groot
DGRAPH_PASSWORD=password

# GraphQL Configuration
GRAPHQL_INTROSPECTION=true
GRAPHQL_PLAYGROUND=true